#add-user-button
{
  margin-left: 12px;
}
#users-modal
{
  margin-bottom: 10vh;
}
#users-modal .buttons-container
{
  width:100%;
  display: flex;
  justify-content: flex-start;
}
#users-modal .buttons-container button
{
  flex-grow: 1;
}
#users-modal input
{
  width:300px;
}
