#login-panel
{
  width:220px;
  margin-left: calc(50vw - 110px);
  text-align: center;
  margin-top: 20vh;
}
#title
{
  font-family: impact-regular;
  font-size: 34px;
  color:var(--gray);
}
#subtitle
{
  font-size: 16px;
  color:var(--light-gray);
  margin:4px;
}
#session-menu
{
  margin:4px;
}
#error-label
{
  display:none;
  color:var(--red);
}
