<table id="user-table" class="table" cellspacing="0" cellpadding="0">
    <thead align="left">
        <th *ngFor="let column of columns">{{column.title}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows" (contextmenu)="onRightClick($event,row)">
            <td *ngFor="let column of columns">
                
                <!-- Texto -->
                <span *ngIf="column.type == 'text'">{{row[column.key]}}</span>

                <!-- Texto status -->
                <b *ngIf="column.type == 'statusText' && row[column.key] == 0" class="text red">Desactivado</b>
                <b *ngIf="column.type == 'statusText' && row[column.key] == 1" class="text green">Activado</b>
      
            </td>
        </tr>
    </tbody>
</table>